<!DOCTYPE html>
<html >
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Brain Dump</title>
    <meta name="Assignment 5" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <base href="/">
</head>

<body>
    <h1>Dump it all here!</h1>
    <main class="main">
        <form class="submit">
            <label class="submit__label" id="submit__idealabel" for="ideaname">Idea:</label><br>
            <input class="submit__input" id="submit__ideainput" name="ideaname" type="text">
            <label class="submit__label" id="submit__categorylabel" for="ideacategory">Part of:</label><br>
            <input class="submit__input"  id="submit__categoryinput" name="ideacategory" type="text">
            <button class="submit__button" type="submit">Submit</button>
        </form>
        <section class="catalogue">
        </section>
    </main>
    <script src="js/main.js"></script>
</body>

</html>


<body>

</body>